
/* CSS RESET */
@import url("https://use.typekit.net/hyj1ctq.css");


*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --font-sans: Helvetica, Arial, sans-serif;
    --font-serif: Cambria, Georgia, serif;
    --font-new-order: new-order, sans-serif;;

    --color-neutral-lighter: #f4f4f4;
    --color-neutral-medium: #999;
    --color-neutral-dark: #444;

    --color-main-light: #eee;

    --color-sand:#F6EAC6;
    --color-sand-dark:#B99B50;
    --color-gray:#707070;
    --color-gold:#E7C822;

    header-height: 3rem;
}

body {
    margin: 0;
    font-size: 100%;
    font-family: var(--font-new-order);
    color: var(--color-gray);
}

h1,
h2,
h3,
h4 {
    font-size: 1em;
    font-family: var(--font-new-order);
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


/* Animal list */
.dog-list, .profile-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 0 2em;
}
.dog-list-item a, .profile-list-item {
    display: flex;
    font-weight: normal;
    margin: 1em 0;
    border-radius: 0.5em;
    overflow: hidden;
    border: 1px solid var(--color-sand-dark);
}
.dog-list-item li {
    border-color:black;
}
.dog-list-item a:hover {
    text-decoration: none;
}
.dog-list-image img {
    width: 6em;
    vertical-align: text-bottom;
    background-color: white;
}
.dog-list-image {
    border-right: 1px solid var(--color-sand-dark);
    overflow: hidden;
}
.dog-list-body {
    padding: 1em;
}
.dog-list-name {
    font-size: 1.0em;
}
.profile-list-label, .profile-list-value {
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}

.profile-list-label {
    width: 6em;
    height: 6em;
}

.profile-list-value {
    margin: 0 auto;
}




/* Layout Classes */

.hidden {display: none; }

.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex: none; }

.flex-align-center {align-items:center; }
.flex-justify-center {justify-content:center; }

.flex-column {flex-direction:column; }




/* Forms */

.form-control {
    margin: 1em 0;
}
.ul-mobile .form-label {
    font-size: 0.8em;
    color: var(--color-neutral-medium);
    margin: 0.5rem 0;
}
.form-label {
    font:inherit;
    font-size:11px;
}
.form-input {
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: var(--color-sand);
    font: inherit;

    font-size: 15px;
    padding: 0.5em 1em;
    margin: 0;
    margin-bottom: 20px;
    outline: 0;
}

.form-button {
    display: block;
    width: 40%;
    border-width: 0;
    background-color: var(--color-gold);
    font: inherit;
    font-size: 20px;
    color:white;
    padding: 0.5em 1em;
    margin: 0 auto;
    margin-top: 10px;
    outline: 0;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
}


#signin-form, 
#signup-form,
#dog-profile-edit-form,
#user-edit,
#dog-profile-add {
    padding: 1em;
}




/* Modals */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: all 0.3s;
    opacity: 0;
    z-index: 10;
}
.modal.active {
    opacity: 1;
    pointer-events: initial;  
}

.modal-back {
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100vw - 20px);
    max-height: : calc(100vh - 20px);
    transform: translate(-50%, calc(-50% + 3em));
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
}
.modal.active .modal-popup {
    transform: translate(-50%, -50%);
}
.modal-head, 
.modal-foot {
    background-color: var(--color-neutral-lighter);
    line-height: 2rem;
    padding: 0 1em;
}
.modal-body {
    background-color: white;
    flex: 1 1 100%;
    padding: 1em;
}
.modal-foot {}

.action-button {
    color: var(--color-sand-dark);
}

/* Page Layout */

.ui-mobile .ui-page-active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
[data-role="main"] {
    flex: 1 1 100%;
    overflow: hidden;
    position: relative;
}

.ui-header,
.ui-footer {
    flex: none;
    height: var(--header-height);
    line-height: var(--header-height);
    border-width: 0;
    background-color: white;

    position: relative;
    overflow: hidden;
}

.ui-footer {
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
}

.ui-header .ui-title {
    margin: 0;
    padding: 0;
}

footer li {
    background: var(--color-sand);
    padding: 8px;
    color: var(--color-sand-dark);
}

header {
    margin-bottom: 10px;
}

.ui-header ul,
.ui-footer ul {
    position: relative;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ui-footer li {
    flex: 1 1 auto;
    text-align: center;
}
.ui-header a,
.ui-footer a {
    display: block;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.dog-img {
    display:block;
    margin: auto;
    text-align: center;
    height:200px;
    width:200px;
    background-color: white;
    border: 1px solid var(--color-sand-dark);
    margin-top:40px;
    object-fit: contain;
    padding:20px;
}

.user-img {
    display:flex;
    margin: auto;
    line-height: 100%;
    text-align: center;
    height:150px;
    width:150px;
    background-color: white;
    border: 1px solid var(--color-sand-dark);
    margin-top:40px;
    object-fit: contain;
    border-radius: 50%;
    padding:20px;
    justify-content: center; /* align horizontal */
    align-items: center;
}


.dog-list-location {
    color: var(--color-sand-dark);
}

.page-title, .dog-profile-page-title, .home-page-title {
    display: block;
    font: var(--font-new-order);
    font-size: 25px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}

.dog-profile-page-title {
    margin-bottom: 50px;
}

.home-page-title {
    margin-bottom: 50px;
}

.page-second-title {
    padding: 0 2em;
    font: var(--font-new-order);
    font-size: 20px;
    font-weight: bold;
}




/*#dog-profile-page header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: rgba(255,255,255,0.1);
}
.dog-profile-top {
    height: 40vh;
}
.dog-profile-bottom {
    flex: 1 1 auto;
    position: relative;
}
.dog-profile-nav {
    height: var(--header-height);
    line-height: var(--header-height);
    display: flex;
}
.dog-profile-nav div {
    text-align: center;
    flex: 1 1 auto;
}
.dog-profile-bottom>div {
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.dog-profile-bottom div.active {
    opacity: 1;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.map-placeholder {
    background-image: url(..img/map.jpg);
    background-position: center;
    background-size: cover;
}
.icon {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
}*/



/*footer nav */
.nav-icon {
    line-height: 2rem;
    display: block;   
}
.nav-icon .icon {
    vertical-align: middle;
    width: 1.5em;
}
.nav-icon-label {
    line-height: 1rem;
    display: block;
    font-size: 0.8em;
}

.logo-icon {
    display:block;
    margin:0 auto;
    margin-top: 5px;
    vertical-align: middle;;
    height: 50px;
}



























