
/* CSS RESET */

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --font-sans: Helvetica, Arial, sans-serif;
    --font-serif: Cambria, Georgia, serif;

    --color-neutral-lighter: #f4f4f4;
    --color-neutral-medium: #999;
    --color-neutral-dark: #444;

    --color-main-light: #eee;

    header-height: 3rem;

}

body {
    margin: 0;
    font-size: 100%;
    font-family: var(--font-sans);
}

h1,
h2,
h3,
h4 {
    font-size: 1em;
    font-family: var(--font-sans);
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}




/* Layout Classes */

.hidden {display: none; }

.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex: none; }

.flex-align-center {align-items:center; }
.flex-justify-center {justify-content:center; }

.flex-column {flex-direction:column; }



/* Forms */

.form-control {
    margin: 1em 0;
}
.ul-mobile .form-label {
    font-size: 0.8em;
    color: var(--color-neutral-medium);
    margin: 0.5rem 0;
}
.form-input {
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: var(--color-neutral-lighter);
    font: inherit;
    padding: 0.5em 1em;
    margin: 0;
    outline: 0;
}

.form-button {
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: var(--color-neutral-light);
    font: inherit;
    padding: 0.5em 1em;
    margin: 0;
    outline: 0;
    text-align: center;
    text-decoration: none;
}


#signin-form {
    padding: 1em;
}




/* Page Layout */

.ui-mobile .ui-page-active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
[data-role="main"] {
    flex: 1 1 100%;
    overflow: hidden;
    position: relative;
}
.ui-header,
.ui-footer {
    flex: none;
    height: var(--header-height);
    line-height: var(--header-height);
    border-width: 0;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);

    position: relative;
    overflow: hidden;
}
.ui-header .ui-title {
    margin: 0;
    padding: 0;
    position: 
}




.ui-header ul,
.ui-footer ul {
    position: relative;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ui-footer li {
    flex: 1 1 auto;
    text-align: center;
}
.ui-header a,
.ui-footer a {
    display: block;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.dog-img {
    margin: auto;
    text-align: center;
    height:200px;
    width:200px;
    background-color: pink;
}






























